<table class="m-table" >
    <thead>
        <tr>
            <th colspan="4">借款人信息</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>性别</td>
            <td>
                男
            </td>
            <td>年龄</td>
            <td>
                44            </td>
        </tr>
        <tr>
            <td>是否结婚</td>
            <td>
                是
            </td>
            <td>学历</td>
            <td>
                研究生或以上            </td>
        </tr>
        <tr>
            <td>职位</td>
            <td>
                总经理            </td>
            <td>工作收入</td>
            <td>
                50000元以上            </td>
        </tr>

        <!--  <tr>
                  <td colspan="4" class="f-fwb f-tac">个人资产</td>
              </tr>
            <tr>
                <td>有无购房：</td>
                <td>
                    无            </td>
                <td>有无房贷：</td>
                <td>
                    无            </td>
            </tr>
            <tr>
                <td>有无购车：</td>
                <td>
                    无            </td>
                <td>有无车贷：</td>
                <td>
                    无            </td>
            </tr>
            <tr>
                <td>汽车品牌：</td>
                <td></td>
                <td>购车年份：</td>
                <td></td>
            </tr> -->

        <!--  <tr>
                  <td colspan="4" class="f-fwb f-tac">企业信息</td>
              </tr>
            <tr>
                <td>公司名称：</td>
                <td>
                </td>
                <td>公司行业：</td>
                <td>
                </td>
            </tr>
            <tr>
                <td>公司规模：</td>
                <td>
                </td>
                <td></td>
                <td></td>
            </tr> -->

    </tbody>
</table>