@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta  http-equiv ="Refresh" content="100" url="/" />
	<title>爱心银行,将爱传递！</title>
	<style type="text/css">
		body {background: #f9f9f0;}
		img {border: none;}
		.u-logo {text-align: center;margin: 20px auto;}
	</style>
</head>
<body>
	<div class="u-logo">
	    <a href="@Url.Action("Index","Home")"></a>
	</div>
	<iframe scrolling='no' frameborder='0' src='http://www.qq.com' width='640' height='464' style='display:block;margin:0 auto'></iframe>
</body>
</html>