@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">
            window.top.location.href = "@Url.Action("LogOn")";
        </script>
    </head>
    <body>
    </body>
</html>