@model LoveBank.Core.Members.User
@{
    ViewBag.Title = "FindPasswordSuccess";
}

<div class="ui-body">
    <div class="ui-inner">
        <div class="ui-title">
            <h1><i class="iconfont">&#xe624;</i> 找回密码</h1>
            <div class="triangle"></div>
        </div>
        <div class="ui-box">
            <div class="ui-box-step">
                <ol class="ui-step ui-step-4">
                    <li class="ui-step-start ui-step-done">
                        <div class="ui-step-line">-</div>
                        <div class="ui-step-icon">
                            <i class="iconfont">&#xe610;</i>
                            <i class="ui-step-number">1</i>
                            <span class="ui-step-text">输入账户名</span>
                        </div>
                    </li>
                    <li class="ui-step-done">
                        <div class="ui-step-line">-</div>
                        <div class="ui-step-icon">
                            <i class="iconfont">&#xe610;</i>
                            <i class="ui-step-number">2</i>
                            <span class="ui-step-text">验证账户名</span>
                        </div>
                    </li>
                    <li class="ui-step-done">
                        <div class="ui-step-line">-</div>
                        <div class="ui-step-icon">
                            <i class="iconfont">&#xe610;</i>
                            <i class="ui-step-number">2</i>
                            <span class="ui-step-text">重置密码</span>
                        </div>
                    </li>
                    <li class="ui-step-end ui-step-active">
                        <div class="ui-step-line">-</div>
                        <div class="ui-step-icon">
                            <i class="iconfont">&#xe610;</i>
                            <i class="ui-step-number">&#xf00b2;</i>
                            <span class="ui-step-text">完成</span>
                        </div>
                    </li>
                </ol>
            </div>
            <div class="ui-tipbox ui-tipbox-success">
                <div class="ui-tipbox-icon">
                    <i class="iconfont" title="成功">&#xf0156;</i>
                </div>
                <div class="ui-tipbox-content">
                    <h3 class="ui-tipbox-title">修改密码成功</h3>
                    <p class="ui-tipbox-explain">@Html.Raw(string.Format("亲爱的会员{0},恭喜成功修改了登录密码，请返回登录页面进行登录",@Model.UserName))</p>
                    <p class="ui-tipbox-explain"><a href="@Url.Action("LogIn", "Account")">现在登录</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

