@model LoveBank.Web.Models.UserRegisterModel

<script type="text/javascript" src="@Url.Content("~/Content/Default/JS/jquery.validate.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Content/Default/JS/messages_zh.js")"> </script>
<script type="text/javascript" src="@Url.Content("~/Content/Default/JS/id.number.js")"> </script>
<script type="text/javascript">
    $().ready(function() {
        $.validator.addMethod("idnumber", function(value, element) {
            return this.optional(element) || idnumber(value);
        }, "<br/>请正确输入您的身份证号码");
        $.validator.addMethod("mobile", function(value, element) {
            var length = value.length;
            var mobile = /^1[3-9][0-9]\d{8}$/;
            return this.optional(element) || (length == 11 && mobile.test(value));
        }, "<br/>请输入正确的手机号");
        $('form').validate({
            rules: {
                UserName: {
                    required: true,
                    minlength: 4,
                    maxlength: 15,
                },
                Phone: {
                    required: true,
                    mobile: true
                },
                RealName: "required",
                IdCard: {
                    required: true,
                    idnumber: true
                }
            },
            messages: {
                UserName: {
                    required: "<br/>请输入用户名！",
                    minlength: "<br/>请输入4位以上字符！",
                    maxlength: "<br/>请输入15位以下字符"
                },
                Phone: {
                    required: "<br/>请填写电话号码！"
                },
                RealName: "<br/>请填写真实姓名！",
                IdCard: {
                    required: "<br/>请填写身份证号！"
                }
            }
        });
    });
</script>
<div class="ui-body">
    <div class="ui-inner">
        <div class="ui-title">
            <h1><i class="iconfont">&#xe624;</i> 线下账户注册</h1>
            <div class="triangle"></div>
        </div>
        <div class="ui-box ui-reg">
          
            @using (Html.BeginForm("PostRegPlus", "Account", FormMethod.Post, new {@class = "ui-form"}))
            {
                <fieldset>
                    <legend>线下账户注册</legend>

                    <div class="ui-form-item">
                        <label for="" class="ui-label"><span class="ui-form-required">*</span>用户名</label>
                        <input class="ui-input ui-input-large" type="text" id="UserName" name="UserName" value=""/> 
                        <p id="username-error" class="ui-form-explain ui-tiptext ui-tiptext-error"></p>
                    </div>
                    
                <div class="ui-form-item">
                    <label for="" class="ui-label"><span class="ui-form-required">*</span>密码</label>
                    <input class="ui-input ui-input-large" type="password" id="Password" name="Password"/>
                    <p id="password-error"class="ui-form-explain ui-tiptext ui-tiptext-error"></p>
                </div>

                <div class="ui-form-item">
                    <label for="" class="ui-label"><span class="ui-form-required">*</span>确认密码</label>
                    <input class="ui-input ui-input-large" type="password" id="ConfirmPassword" name="ConfirmPassword"/>
                    <p id="confirmpassword-error"class="ui-form-explain ui-tiptext ui-tiptext-error"></p>
                </div>

                    <div class="ui-form-item">
                        <label for="" class="ui-label"><span class="ui-form-required">*</span>手机号</label>
                        <input type="text" id="Phone" name="Phone" class="ui-input ui-input-large" value="" />
                        <p id="password-error"class="ui-form-explain ui-tiptext ui-tiptext-error"></p>
                    </div>

                    <div class="ui-form-item">
                        <label for="" class="ui-label"><span class="ui-form-required">*</span>真实姓名</label>
                        <input type="text" class="ui-input ui-input-large" id="RealName" name="RealName" />
                        <p id="confirmpassword-error"class="ui-form-explain ui-tiptext ui-tiptext-error"></p>
                    </div>
                    
                    <div class="ui-form-item">
                        <label for="" class="ui-label"><span class="ui-form-required">*</span>身份证号码</label>
                        <input type="text" class="ui-input ui-input-large" id="IdCard" name="IdCard" />
                        <p id="confirmpassword-error"class="ui-form-explain ui-tiptext ui-tiptext-error"></p>
                    </div>

                    <div class="ui-form-item">
                        <input class="ui-checkbox" id="agreement" name="agreement" checked="checked" value="" type="checkbox" />
                        <label class="ui-checkbox-label" for="test2">我已阅读并接受《<a href="javascript:void(0);" style="color: Red;" onclick=" javascript:window.open('/Article/Agreement/', '', 'width=1024px;height=768px,status=0,toolbar=no,menubar=no,location=no,scrollbars=yes,top=20,left=20,resizable=no'); ">注册协议</a>》
                            及《<a href="javascript:void(0);" style="color: Red;" onclick=" javascript:window.open('/Article/Agreement2/', '', 'width=1024px;height=768px,status=0,toolbar=no,menubar=no,location=no,scrollbars=yes,top=20,left=20,resizable=no'); ">投资咨询与管理服务协议</a>》 </label>
                    </div>
                    <div class="ui-form-item">
                        <input type="submit" id="submit" class="ui-button ui-button-orange big" value="下一步"/>
                    </div>

                </fieldset>
            }
        </div>
    </div>
</div>