<?xml version="1.0"?>

<configuration>
  
  <connectionStrings>
    <add name="QdtDB" connectionString="Data Source=192.168.1.80;Initial Catalog=qiandt_dev;uid=sa;pwd=sa; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
</configuration>